@import "tailwindcss";

/* Custom theme variables */
@theme {
  --color-primary-lime: hsl(61, 70%, 52%);
  --color-primary-red: hsl(4, 69%, 50%);

  --color-slate-100: hsl(202, 86%, 94%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-900: hsl(202, 55%, 16%);

  --font-plus: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-plus);
    color: var(--color-slate-900);
  }
  a {
    color: var(--color-primary-lime);
  }
}
